     지방청           표지                일시  풍향(˚)  유향(˚)  기온(℃)  수온(℃)  풍속(m/s)
0    부산청  신항유도등부표(랜비)  2023-05-11 23:50  100.0     80   15.9   16.5    2.570  \
1    부산청  신항유도등부표(랜비)  2023-05-11 23:40  114.0     78   16.7   16.3    1.540
2    부산청  신항유도등부표(랜비)  2023-05-11 23:30  114.0     94   15.8   16.4    1.540
3    부산청  신항유도등부표(랜비)  2023-05-11 23:20  150.0     92   16.0   16.6    0.514
4    부산청  신항유도등부표(랜비)  2023-05-11 23:10  142.0     74   17.0   16.6    1.030
..   ...          ...               ...    ...    ...    ...    ...      ...
139  부산청  신항유도등부표(랜비)  2023-05-11 00:40    NaN    125   14.6   16.6    0.000
140  부산청  신항유도등부표(랜비)  2023-05-11 00:30  142.0    146   14.5   16.8    0.000
141  부산청  신항유도등부표(랜비)  2023-05-11 00:20  149.0    100   15.5   16.9    0.514
142  부산청  신항유도등부표(랜비)  2023-05-11 00:10  157.0    103   16.1   17.0    0.000
143  부산청  신항유도등부표(랜비)  2023-05-11 00:00  184.0     68   15.1   16.9    0.514

     유속(kn)  기압(hPa)  습도(%)
0       0.8     1017     46
1       1.1     1017     48
2       0.6     1017     48
3       0.8     1017     51
4       0.6     1017     48
..      ...      ...    ...
139     0.5     1015     89
140     0.4     1015     89
141     0.4     1015     90
142     0.5     1015     86
143     0.6     1015     84

[144 rows x 11 columns]
(144, 11)
   지방청           표지                일시  풍향(˚)  유향(˚)  기온(℃)  수온(℃)  풍속(m/s)
0  부산청  신항유도등부표(랜비)  2023-05-11 23:50  100.0     80   15.9   16.5    2.570  \
1  부산청  신항유도등부표(랜비)  2023-05-11 23:40  114.0     78   16.7   16.3    1.540
2  부산청  신항유도등부표(랜비)  2023-05-11 23:30  114.0     94   15.8   16.4    1.540
3  부산청  신항유도등부표(랜비)  2023-05-11 23:20  150.0     92   16.0   16.6    0.514
4  부산청  신항유도등부표(랜비)  2023-05-11 23:10  142.0     74   17.0   16.6    1.030

   유속(kn)  기압(hPa)  습도(%)
0     0.8     1017     46
1     1.1     1017     48
2     0.6     1017     48
3     0.8     1017     51
4     0.6     1017     48

In [17]:
# NaN 값 확인
print(weather_data.isna().sum())

지방청        0
표지         0
일시         0
풍향(˚)      1
유향(˚)      0
기온(℃)      0
수온(℃)      0
풍속(m/s)    0
유속(kn)     0
기압(hPa)    0
습도(%)      0
dtype: int64

In [18]:
print(weather_data['풍향(˚)'])

0      100.0
1      114.0
2      114.0
3      150.0
4      142.0
       ...
139      NaN
140    142.0
141    149.0
142    157.0
143    184.0
Name: 풍향(˚), Length: 144, dtype: float64

In [19]:
# 유향의 NA값을 평균값으로 대체
mean_temp = weather_data['풍향(˚)'].mean()
weather_data['풍향(˚)'] = weather_data['풍향(˚)'].fillna(mean_temp)

In [20]:
print(weather_data['풍향(˚)'])

0      100.000000
1      114.000000
2      114.000000
3      150.000000
4      142.000000
          ...
139    206.104895
140    142.000000
141    149.000000
142    157.000000
143    184.000000
Name: 풍향(˚), Length: 144, dtype: float64

In [21]:
print(weather_data)

     지방청           표지                일시       풍향(˚)  유향(˚)  기온(℃)  수온(℃)
0    부산청  신항유도등부표(랜비)  2023-05-11 23:50  100.000000     80   15.9   16.5  \
1    부산청  신항유도등부표(랜비)  2023-05-11 23:40  114.000000     78   16.7   16.3
2    부산청  신항유도등부표(랜비)  2023-05-11 23:30  114.000000     94   15.8   16.4
3    부산청  신항유도등부표(랜비)  2023-05-11 23:20  150.000000     92   16.0   16.6
4    부산청  신항유도등부표(랜비)  2023-05-11 23:10  142.000000     74   17.0   16.6
..   ...          ...               ...         ...    ...    ...    ...
139  부산청  신항유도등부표(랜비)  2023-05-11 00:40  206.104895    125   14.6   16.6
140  부산청  신항유도등부표(랜비)  2023-05-11 00:30  142.000000    146   14.5   16.8
141  부산청  신항유도등부표(랜비)  2023-05-11 00:20  149.000000    100   15.5   16.9
142  부산청  신항유도등부표(랜비)  2023-05-11 00:10  157.000000    103   16.1   17.0
143  부산청  신항유도등부표(랜비)  2023-05-11 00:00  184.000000     68   15.1   16.9

     풍속(m/s)  유속(kn)  기압(hPa)  습도(%)
0      2.570     0.8     1017     46
1      1.540     1.1     1017     48
2      1.540     0.6     1017     48
3      0.514     0.8     1017     51
4      1.030     0.6     1017     48
..       ...     ...      ...    ...
139    0.000     0.5     1015     89
140    0.000     0.4     1015     89
141    0.514     0.4     1015     90
142    0.000     0.5     1015     86
143    0.514     0.6     1015     84

[144 rows x 11 columns]

In [59]:
import pandas as pd
import csv

df = 'D:/장우영/LOCALSEARCH\DA\DA\data/Ais_Test.xlsx'
ais_data = pd.read_excel(df)
print(ais_data)

            mmsi      ship_name  ship_type
0      440051540           D-01          0  \
1      440300780            NaN          0
2      440208550            NaN          0
3      440275000  GBK EXPRESS 1         40
4      440414850   NO1 GEO SUNG         80
...          ...            ...        ...
16180  538010219  SAWASDEE VEGA         70
16181  440121850            NaN          0
16182  440110850  PILOT ORYUKDO         50
16183  440107840   NO.7 GEUMHWA         30
16184  440134620       HYUNJUNG         80

                                                    geom    cog   sog
0      0101000020110F00000000002039676B41000000002DCF...  329.2   5.7  \
1      0101000020110F0000000000C0D2666B410000008079E5...  329.8   0.0
2      0101000020110F00000000002062656B4100000080F0DD...  139.3   0.0
3      0101000020110F000000000040A1666B41000000800AE4...  175.8   0.0
4      0101000020110F00000000004097666B410000008067E5...    0.0   0.0
...                                                  ...    ...   ...
16180  0101000020110F0000000000C0DC636B41000000009893...  225.2  16.0
16181  0101000020110F00000000002040656B410000008050DC...    0.0   0.0
16182  0101000020110F0000000000E057696B4100000080C5D8...  322.3   1.7
16183  0101000020110F0000000000003A656B410000000047DC...    0.0   0.0
16184  0101000020110F0000000000609A666B41000000003CE5...  231.3   0.7

                  insert_time
0     2023-05-11 10:10:58.000
1     2023-05-11 10:10:58.000
2     2023-05-11 10:10:58.000
3     2023-05-11 10:10:58.000
4     2023-05-11 10:10:58.000
...                       ...
16180 2023-05-11 10:29:59.388
16181 2023-05-11 10:29:59.689
16182 2023-05-11 10:29:59.800
16183 2023-05-11 10:29:59.855
16184 2023-05-11 10:29:59.864

[16185 rows x 7 columns]

In [58]:
print(ais_data['insert_time'])

0       2023-05-11 10:10:58.000
1       2023-05-11 10:10:58.000
2       2023-05-11 10:10:58.000
3       2023-05-11 10:10:58.000
4       2023-05-11 10:10:58.000
                  ...
16180   2023-05-11 10:29:59.388
16181   2023-05-11 10:29:59.689
16182   2023-05-11 10:29:59.800
16183   2023-05-11 10:29:59.855
16184   2023-05-11 10:29:59.864
Name: insert_time, Length: 16185, dtype: datetime64[ns]

In [56]:
# AIS 데이터셋과 기상청 데이터셋을 모두 일시(시간)이 있어서 시간을 기준으로 작성하겠습니다.
ais_data['insert_time'] = pd.to_datetime(ais_data['insert_time'])
weather_data['일시'] = pd.to_datetime(weather_data['일시'])

In [36]:
merged_data = pd.merge(ais_data, weather_data, left_on='insert_time', right_on='일시', how='outer')

In [57]:
print(merged_data)
#print(merged_data.head(1))

             mmsi          ship_name  ship_type
0     440111190.0  PILOT YEONG DO HO       50.0  \
1     231865000.0                NaN        0.0
2     538009542.0                NaN        0.0
3     440114300.0                NaN        0.0
4     352001904.0           DE CHENG       72.0
...           ...                ...        ...
1362          NaN                NaN        NaN
1363          NaN                NaN        NaN
1364          NaN                NaN        NaN
1365          NaN                NaN        NaN
1366          NaN                NaN        NaN

                                                   geom    cog   sog
0     0101000020110F0000000000E066676B410000008071E0...  111.6  15.1  \
1     0101000020110F0000000000402B676B4100000000D2B9...    0.8   8.4
2     0101000020110F0000000000A0395D6B410000000074AA...  317.7  12.2
3     0101000020110F0000000000608F666B410000008068E4...    0.0   0.0
4     0101000020110F000000000000A56F6B41000000805BD6...   77.3   9.9
...                                                 ...    ...   ...
1362                                                NaN    NaN   NaN
1363                                                NaN    NaN   NaN
1364                                                NaN    NaN   NaN
1365                                                NaN    NaN   NaN
1366                                                NaN    NaN   NaN

                 insert_time  지방청           표지                  일시
0    2023-05-11 10:10:59.994  NaN          NaN                 NaT  \
1    2023-05-11 10:11:00.130  NaN          NaN                 NaT
2    2023-05-11 10:11:00.349  NaN          NaN                 NaT
3    2023-05-11 10:11:00.402  NaN          NaN                 NaT
4    2023-05-11 10:11:00.585  NaN          NaN                 NaT
...                      ...  ...          ...                 ...
1362                     NaT  부산청  신항유도등부표(랜비) 2023-05-11 00:40:00
1363                     NaT  부산청  신항유도등부표(랜비) 2023-05-11 00:30:00
1364                     NaT  부산청  신항유도등부표(랜비) 2023-05-11 00:20:00
1365                     NaT  부산청  신항유도등부표(랜비) 2023-05-11 00:10:00
1366                     NaT  부산청  신항유도등부표(랜비) 2023-05-11 00:00:00

           풍향(˚)  유향(˚)  기온(℃)  수온(℃)  풍속(m/s)  유속(kn)  기압(hPa)  습도(%)
0            NaN    NaN    NaN    NaN      NaN     NaN      NaN    NaN
1            NaN    NaN    NaN    NaN      NaN     NaN      NaN    NaN
2            NaN    NaN    NaN    NaN      NaN     NaN      NaN    NaN
3            NaN    NaN    NaN    NaN      NaN     NaN      NaN    NaN
4            NaN    NaN    NaN    NaN      NaN     NaN      NaN    NaN
...          ...    ...    ...    ...      ...     ...      ...    ...
1362  206.104895  125.0   14.6   16.6    0.000     0.5   1015.0   89.0
1363  142.000000  146.0   14.5   16.8    0.000     0.4   1015.0   89.0
1364  149.000000  100.0   15.5   16.9    0.514     0.4   1015.0   90.0
1365  157.000000  103.0   16.1   17.0    0.000     0.5   1015.0   86.0
1366  184.000000   68.0   15.1   16.9    0.514     0.6   1015.0   84.0

[1367 rows x 18 columns]

        mmsi ship_name  ship_type
0  440051540      D-01          0  \

                                                geom    cog  sog
0  0101000020110F00000000002039676B41000000002DCF...  329.2  5.7  \

        insert_time  지방청           표지                일시   풍향   유향    기온    수온
0  2023-05-11 10:10  부산청  신항유도등부표(랜비)  2023-05-11 10:10  196  246  16.4  17.0  \

     풍속   유속    기압  습도
0  9.77  0.3  1017  82

In [1]:
import pandas as pd
data = pd.read_csv('D:/장우영/LOCALSEARCH/DA/DA/data/FAmerge_20230602_101301.csv', encoding='ANSI')
#print(data)
print(data.head(5))

        mmsi      ship_name  ship_type
0  440051540           D-01          0  \
1  440300780            NaN          0
2  440208550            NaN          0
3  440275000  GBK EXPRESS 1         40
4  440414850   NO1 GEO SUNG         80

                                                geom    cog  sog
0  0101000020110F00000000002039676B41000000002DCF...  329.2  5.7  \
1  0101000020110F0000000000C0D2666B410000008079E5...  329.8  0.0
2  0101000020110F00000000002062656B4100000080F0DD...  139.3  0.0
3  0101000020110F000000000040A1666B41000000800AE4...  175.8  0.0
4  0101000020110F00000000004097666B410000008067E5...    0.0  0.0

           insert_time  지방청           표지                   일시   풍향   유향    기온
0  2023-05-11 10:10:58  부산청  신항유도등부표(랜비)  2023-05-11 10:10:00  196  246  16.4  \
1  2023-05-11 10:10:58  부산청  신항유도등부표(랜비)  2023-05-11 10:10:00  196  246  16.4
2  2023-05-11 10:10:58  부산청  신항유도등부표(랜비)  2023-05-11 10:10:00  196  246  16.4
3  2023-05-11 10:10:58  부산청  신항유도등부표(랜비)  2023-05-11 10:10:00  196  246  16.4
4  2023-05-11 10:10:58  부산청  신항유도등부표(랜비)  2023-05-11 10:10:00  196  246  16.4

     수온    풍속   유속    기압  습도
0  17.0  9.77  0.3  1017  82
1  17.0  9.77  0.3  1017  82
2  17.0  9.77  0.3  1017  82
3  17.0  9.77  0.3  1017  82
4  17.0  9.77  0.3  1017  82

In [7]:
import pandas as pd

# CSV 파일 불러오기
data = pd.read_csv('D:/장우영/LOCALSEARCH/DA/DA/data/FAmerge_20230531_103345.csv', encoding='ANSI')

# B열 값을 A열의 값으로 변환
data['일시'] = data['insert_time']

# 변환된 데이터를 새로운 CSV 파일로 저장
data.to_csv('D:/장우영/LOCALSEARCH/DA/DA/data/변환된_파일명.csv',  encoding='ANSI')